#content {
    background-color: #CBCFD2;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 4px #9B9EA1 inset;
}

#aktuelles {
    background-color: #ffffff;
    width: 100%;
    text-align: left;
    box-shadow: 0 4px 4px #C0C0C0 inset;
    padding: 1vw;
}

.absatz {
    height: 100px;
}
.kleinerAbsatz {
    height: 20px;
}

.ueberschriften {
    font-size: 24px;
    font-weight: bolder;
}

.bigFont {
    font-size: 26px;
}

.infotext{
    font-size: 20px;
    display: inline-flex;
}

.spinner {
  width: 30px;
  height: 30px;
  border: 4px solid lightgray;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#threeRows {
    display: flex;
    width: 100%;
}

.anleitungsText {
    width: 33.3%;
    text-align: center;
    padding: 1vw;
    font-size: 20px;
}

#hochladenButton {
    background-color: #004D9B;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    width: 500px;
}
#hochladenButton:enabled:hover {
    background-color: #165ca3;
    border-color: #646cff;
}
#hochladenButton:disabled {
    background-color: #7e898f;
    cursor: no-drop;
}